.fancy-toggle-button {
  > .option {
    &.add,
    &.remove {
      @extend %tn-button;
      font-size: 13px;
      margin: 0;

      &.active {
        display: inline-block;
        vertical-align: middle;
      }
    }

    &.add {
      &,
      &:active,
      &:focus,
      &:hover {
        @include linear-gradient(top, $subscribe-bg, darken($subscribe-bg, 6%));
      }
    }

    &.remove {
      &,
      &:hover,
      &:focus,
      &:active {
        @include linear-gradient(top, $unsubscribe-bg, darken($unsubscribe-bg, 6%));
      }
    }

    &.add:active,
    &.remove,
    &.remove:active {
      @include shadow(inset 0 2px 3px rgba(0, 0, 0, 0.3), 0 2px 2px rgba(255, 255, 255, 0.7));
    }
  }
}

.nub {
  display: none;
}


.morelink {
  @extend %tn-background-force-reset;
  border: none;
  height: auto;

  &:hover {
    @extend %tn-background-force-reset;
  }
// Modified from %tn-button
  a {
    color: $button-fg !important;
    font-family: $sans-serif;
    padding: 2px 8px;
    width: auto;
    min-width: 4em;
    height: auto;
    line-height: 1.5em;
    vertical-align: middle;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
    text-decoration: none !important;
    border: none;
    text-align: center;
    margin-right: 3px;
    @include linear-gradient(top, lighten($button-bg, 15%), darken($button-bg, 15%));
    @include shadow(0 1px 2px rgba(0, 0, 0, 0.4), inset 0 -2px 0 rgba(0, 0, 0, 0.3));
    @include rounded(4px);

    &:hover,
    &:focus {
      color: $button-fg;
      @include linear-gradient(top, $button-bg, darken($button-bg, 6%));
    }

    &:active {
      @include linear-gradient(top, darken($button-bg, 10%), $button-bg);
      @include shadow(inset 0 2px 3px rgba(0, 0, 0, 0.3), 0 2px 2px rgba(255, 255, 255, 0.7));
    }

    letter-spacing: 0;
    margin-right: 0;
    padding: 5px 8px;
  }
}

.submit-link .morelink a{
  background: url(%%LinkDefault%%) no-repeat, -webkit-linear-gradient(top, lighten($button-bg, 15%), darken($button-bg, 15%)) !important;
  background: url(%%LinkDefault%%) no-repeat, -moz-linear-gradient(top, lighten($button-bg, 15%), darken($button-bg, 15%)) !important;
  background: url(%%LinkDefault%%) no-repeat, linear-gradient(top, lighten($button-bg, 15%), darken($button-bg, 15%)) !important;
  background-position: 5px center !important;
  @include rounded(4px);

  &:hover,
  &:focus {
    color: $button-fg;
    background: url(%%LinkHover%%) no-repeat, -webkit-linear-gradient(top, $button-bg, darken($button-bg, 6%)) !important;
    background: url(%%LinkHover%%) no-repeat, -moz-linear-gradient(top, $button-bg, darken($button-bg, 6%)) !important;
    background: url(%%LinkHover%%) no-repeat, linear-gradient(top, $button-bg, darken($button-bg, 6%)) !important;
    background-position: 20px top !important;
  }

  &:active {
    background: url(%%LinkActive%%) no-repeat, -webkit-linear-gradient(top, darken($button-bg, 10%), $button-bg) !important;
    background: url(%%LinkActive%%) no-repeat, -moz-linear-gradient(top, darken($button-bg, 10%), $button-bg) !important;
    background: url(%%LinkActive%%) no-repeat, linear-gradient(top, darken($button-bg, 10%), $button-bg) !important;
    background-position: 40px bottom !important;
    @include shadow(inset 0 2px 3px rgba(0, 0, 0, 0.3), 0 2px 2px rgba(255, 255, 255, 0.7));
  }
}

.submit-text .morelink a{
  background: url(%%TextDefault%%) no-repeat, -webkit-linear-gradient(top, lighten($button-bg, 15%), darken($button-bg, 15%)) !important;
  background: url(%%TextDefault%%) no-repeat, -moz-linear-gradient(top, lighten($button-bg, 15%), darken($button-bg, 15%)) !important;
  background: url(%%TextDefault%%) no-repeat, linear-gradient(top, lighten($button-bg, 15%), darken($button-bg, 15%)) !important;
  background-position: 5px center !important;
  @include rounded(4px);

  &:hover,
  &:focus {
    color: $button-fg;
    background: url(%%TextHover%%) no-repeat, -webkit-linear-gradient(top, $button-bg, darken($button-bg, 6%)) !important;
    background: url(%%TextHover%%) no-repeat, -moz-linear-gradient(top, $button-bg, darken($button-bg, 6%)) !important;
    background: url(%%TextHover%%) no-repeat, linear-gradient(top, $button-bg, darken($button-bg, 6%)) !important;
    background-position: 5px center !important;
  }

  &:active {
    background: url(%%TextActive%%) no-repeat, -webkit-linear-gradient(top, darken($button-bg, 10%), $button-bg) !important;
    background: url(%%TextActive%%) no-repeat, -moz-linear-gradient(top, darken($button-bg, 10%), $button-bg) !important;
    background: url(%%TextActive%%) no-repeat, linear-gradient(top, darken($button-bg, 10%), $button-bg) !important;
    background-position: 5px center !important;
    @include shadow(inset 0 2px 3px rgba(0, 0, 0, 0.3), 0 2px 2px rgba(255, 255, 255, 0.7));
  }
}

.submit {
  &.disabled > .morelink > a {
    color: $button-disabled-fg !important;
    background: $button-disabled-bg;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.5);
    @include shadow(0 1px 0 rgba(255, 255, 255, 0.8), inset 0 1px 2px rgba(0, 0, 0, 0.2));
  }

  &.mod-override > .morelink {
    > a {
      padding-left: 30px;
      &:after {
        @extend %tn-icon;
        background-position: -16px -32px;
        left: 3px;
        top: 1px;
        opacity: 0.6;

      }
    }

    &:hover > a {
      &:after {
        opacity: 1;
      }
    }
  }
}

button,
input[type=submit] {
  @extend %tn-default-button;
}


.expando-button {
  cursor: pointer;
  width: 19px;
  height: 19px;
  position: relative;
  padding: 0 !important;
  background-position: 0 0 !important;

  &:before {
    content: '';
    position: absolute;
    left: 4px;
    right: 4px;
    height: 3px;
    top: 8px;
    background: $expand-button-fg;
  }

  &.selftext,
  &.video {
    &.collapsed {
      &,
      &:hover {
        @extend %tn-small-button-default;
      }

      &:after {
        content: '';
        position: absolute;
        top: 4px;
        bottom: 4px;
        width: 3px;
        left: 8px;
        background: $expand-button-fg;
      }
    }

    &.expanded {
      &,
      &:hover {
        @extend %tn-small-button-default;
        @extend %tn-small-button-pressed;
      }
    }
  }
}

.nav-buttons {
  padding: 1em 0;
}

.nextprev {
  color: $main-fg;
  > a[rel] {
    @extend %tn-small-button;
  }
}

.next-suggestions {
  > a {
    @extend %tn-alt-small-button;
  }
}

#search > input[type="submit"] {
  @extend %tn-button-reset;
}

a.pretty-button {
  @extend %tn-bracketed;
  display: inline-block;
  border: none;
  padding: 0;
  font-size: $normal-font-size;
  @include rounded(0);

  &,
  &.neutral {
    @extend %tn-background-reset;
  }

  &:before,
  &:after {
    color: $list-entry-fg !important;
    display: inline-block;
  }

  &.pressed {
    font-weight: bold;
    background: $misc-selected-bg !important;
  }

  &[onclick*=ignore_reports] {
    color: $misc-ignore-color;
  }
}

.big-mod-buttons {
  .pretty-button {
    @extend %tn-background-reset;
  }

  > span[role=radiogroup] > .pretty-button {
    &:first-child {
      color: $misc-spam-color;
    }

    &:nth-child(2) {
      color: $misc-remove-color;
    }

    &.positive {
      color: $misc-approve-color;
    }
  }
}

.comment .pretty-button:hover {
  text-decoration: underline !important;
}
