.linkflairlabel {
	@extend %tn-flair;
}
/*
.title .linkflairlabel {
	display:inline-block;
	position:relative;
	width:60px;
	height:34px;
	padding:0px;
	margin:0px 8px -5px 0px;
	border:none;
	background:none;
	text-indent:-9999px
}

.title .linkflairlabel:hover {
	cursor:pointer!important
}
*/
@mixin postflair ($width, $height, $pos, $offsetx, $offsety, $name) {
	.linkflair-#{$name} .linkflairlabel:before {
		content:"";
		position:absolute;
		top:0px;
		left:0px;
		width:#{$width}px;
		height:34px;
		background:url('%%PostFlairs%%') no-repeat;
		background-position:-5px #{$pos}px;
	}
	.flairoptinepane .linkflair-#{$name} {
		top: -9999px !important;
		left: -9999px !important;
		display:none;
	}
	.linkflair-#{$name} .linkflairlabel {
		padding-left: $width - 60px !important;
	}
}
/*
.flairselection .flairoptionpane li {
	min-width: 75px;
	max-width: 100px;
	text-align: center;
	padding: 0 !important;
	margin: 0 !important;
	display: inline-block;
}

@include postflair(113, 30, -5,   20, 20, "modpost");
@include postflair(134, 24, -49,  20, 20, "mainseries");
@include postflair(119, 22, -93,  20, 20, "spinoff");
@include postflair(86,  26, -137, 20, 20, "anime");
@include postflair(172, 31, -181, 20, 20, "mangacomic");
@include postflair(150, 33, -225, 20, 20, "smashbros");
@include postflair(168, 34, -269, 20, 20, "animespoilers");
@include postflair(161, 24, -313, 20, 20, "gamespoilers");
@include postflair(86,  32, -357, 20, 20, "music");
@include postflair(112, 32, -401, 20, 20, "artwork");
@include postflair(156, 34, -445, 20, 20, "collectables");
@include postflair(81,  31, -489, 20, 20, "news");
@include postflair(123, 32, -533, 20, 20, "questions");
@include postflair(79,  24, -577, 20, 20, "meta");
@include postflair(83,  23, -621, 20, 20, "misc");
@include postflair(165, 28, -665, 20, 20, "monthly");
*/
.flair {
	display: inline-block;
	font-size: $normal-font-size !important;
	line-height: 1.2em;
	padding: 0;
	border: 0;
	vertical-align: middle;
	background-image: url(%%spritesheet%%);
	background-color: rgba(0,0,0,0);
	background-repeat: no-repeat;
	text-indent: -9999em;
}

@mixin kirby-flair ($width, $pos, $name) {
	.flair-#{$name} {
		min-width: #{$width}px;
		height: 32px;
		background-position: -#{$pos}px -5px;
	}
}

@mixin kirby-anim ($count, $name) {
	.flair-kirby-#{$name} {
		min-width: 21px;
		height: 19px;
		margin: 6px 2px 7px 2px;
		background-image: url("%%anim#{$count}%%");
		background-position: -209px 0px;

		&:hover {
		  -webkit-animation: kirbyanim .9s steps(10) infinite;
			-moz-animation: kirbyanim .9s steps(10) infinite;
			-ms-animation: kirbyanim .9s steps(10) infinite;
			-o-animation: kirbyanim .9s steps(10) infinite;
			animation: kirbyanim .9s steps(10) infinite;
		}
	}
}

@-webkit-keyframes kirbyanim {
	from { background-position: 0px 0px; } to { background-position: -210px 0px; }
}
@-moz-keyframes kirbyanim {
	from { background-position: 0px 0px; } to { background-position: -210px 0px; }
}
@-ms-keyframes kirbyanim {
	from { background-position: 0px 0px; } to { background-position: -210px 0px; }
}
@-o-keyframes kirbyanim {
	from { background-position: 0px 0px; } to { background-position: -210px 0px; }
}
@keyframes kirbyanim {
	from { background-position: 0px 0px; } to { background-position: -210px 0px; }
}

@include kirby-flair(16, 5,    "BnWKirby");
@include kirby-flair(24, 31,   "ChuChu");
@include kirby-flair(32, 65,   "ColorDedede");
@include kirby-flair(36, 107,  "DarkMetaKnight");
@include kirby-flair(32, 153,  "Dedede");
@include kirby-flair(32, 195,  "FlyingDedede");
@include kirby-flair(23, 237,  "Gooey");
@include kirby-flair(23, 270,  "Hammer");
@include kirby-flair(23, 303,  "Jet");
@include kirby-flair(30, 336,  "Kracko");
@include kirby-flair(31, 376,  "Kine");
@include kirby-flair(35, 417,  "GalactaKnight");
@include kirby-flair(32, 462,  "GalactaKnight2");
@include kirby-flair(28, 504,  "Magalor");
@include kirby-flair(28, 542,  "Marx");
@include kirby-flair(37, 580,  "MasklessMetaknight");
@include kirby-flair(38, 627,  "Metaknight");
@include kirby-flair(25, 675,  "Mirror");
@include kirby-flair(30, 710,  "MirrorKirby");
@include kirby-flair(25, 750,  "Naga");
@include kirby-flair(24, 785,  "NormalDedede");
@include kirby-flair(20, 819,  "Pitch");
@include kirby-flair(26, 849,  "Rick");
@include kirby-flair(22, 885,  "Rockstar");
@include kirby-flair(24, 917,  "Scarfy");
@include kirby-flair(25, 951,  "Scuba");
@include kirby-flair(25, 986,  "Slash");
@include kirby-flair(24, 1021, "Sparky");
@include kirby-flair(25, 1055, "Star");
@include kirby-flair(28, 1090, "Starship");
@include kirby-flair(22, 1128, "Sunglasses");
@include kirby-flair(44, 1160, "Taranza");
@include kirby-flair(19, 1214, "Victory");
@include kirby-flair(26, 1243, "Waddledee");
@include kirby-flair(28, 1279, "Witch");
@include kirby-flair(27, 1317, "YoYo");
@include kirby-flair(29, 1354, "Chilly");
@include kirby-flair(30, 1393, "Fighter");
@include kirby-flair(32, 1433, "Peace");

@include kirby-anim(1,  "default");
@include kirby-anim(2,  "yellow");
@include kirby-anim(3,  "red");
@include kirby-anim(4,  "green");
@include kirby-anim(5,  "snow");
@include kirby-anim(6,  "carbon");
@include kirby-anim(7,  "ocean");
@include kirby-anim(8,  "sapphire");
@include kirby-anim(9,  "grape");
@include kirby-anim(10, "emerald");
@include kirby-anim(11, "orange");
@include kirby-anim(12, "chocolate");
@include kirby-anim(13, "cherry");
@include kirby-anim(14, "chalk");
@include kirby-anim(15, "mirror");
