/*===NINTENDO FAMILY=====================================*/
div.side blockquote:last-of-type a {
    display: inline-block;
    width: 35px;
    height: 35px;
    border: 1px solid black;
    margin: 1px;
    background:url(%%nintendofamily%%);
}

div.side blockquote a[href$="/r/casualnintendo"] {background-position: 0 -35px}
div.side blockquote a[href$="/r/nintendomusic"] {background-position: 0 -70px}
div.side blockquote a[href$="/r/Club_Nintendo"] {background-position: 0 -105px}
div.side blockquote a[href$="/r/mariners"] {background-position: 0 -140px}
div.side blockquote a[href$="/r/amiibo"] {background-position: 0 -175px}
div.side blockquote a[href$="/r/wiiu"] {background-position: 0 -210px}
div.side blockquote a[href$="/r/3ds"] {background-position: 0 -245px}
div.side blockquote a[href$="/r/wii"] {background-position: 0 -280px}
div.side blockquote a[href$="/r/nds"] {background-position: 0 -315px}
div.side blockquote a[href$="/r/gamecube"] {background-position: 0 -350px}
div.side blockquote a[href$="/r/gameboyadvance"] {background-position: 0 -385px}
div.side blockquote a[href$="/r/n64"] {background-position: 0 -420px}
div.side blockquote a[href$="/r/VirtualBoy"] {background-position: 0 -455px}
div.side blockquote a[href$="/r/snes"] {background-position: 0 -490px}
div.side blockquote a[href$="/r/gameboy"] {background-position: 0 -525px}
div.side blockquote a[href$="/r/nes"] {background-position: 0 -560px}
div.side blockquote a[href$="/r/hanafuda"] {background-position: 0 -595px}
div.side blockquote a[href$="/r/mario"] {background-position: -35px 0}
div.side blockquote a[href$="/r/donkeykong"] {background-position: -35px -35px}
div.side blockquote a[href$="/r/zelda"] {background-position: -35px -70px}
div.side blockquote a[href$="/r/metroid"] {background-position: -35px -105px}
div.side blockquote a[href$="/r/kirby"] {background-position: -35px -140px}
div.side blockquote a[href$="/r/starfox"] {background-position: -35px -175px}
div.side blockquote a[href$="/r/pokemon"] {background-position: -35px -210px}
div.side blockquote a[href$="/r/fzero"] {background-position: -35px -245px}
div.side blockquote a[href$="/r/earthbound"] {background-position: -35px -280px}
div.side blockquote a[href$="/r/fireemblem"] {background-position: -35px -315px}
div.side blockquote a[href$="/r/animalcrossing"] {background-position: -35px -350px}
div.side blockquote a[href$="/r/kidicarus"] {background-position: -35px -385px}
div.side blockquote a[href$="/r/pikmin"] {background-position: -35px -420px}
div.side blockquote a[href$="/r/Xenoblade_Chronicles"] {background-position: -35px -455px}
div.side blockquote a[href$="/r/advance_wars"] {background-position: -35px -490px}
div.side blockquote a[href$="/r/tomodachilife"] {background-position: -35px -525px}
div.side blockquote a[href$="/r/smashbros"] {background-position: -35px -560px}
div.side blockquote a[href$="/r/splatoon"] {background-position: 0px -665px}
div.side blockquote a[href$="/r/nintendocanada"] {background-position: 0 -630px}
div.side blockquote a[href$="/r/NintendoLatam"] {background-position: -35px -630px}
div.side blockquote a[href$="/r/NintendoUK"] {background-position: -35px -595px}

div.side blockquote:last-of-type a:hover::before {
display: block;
position: absolute;
margin-top: -27px;
margin-left: -20px;
height: 18px;
background-color: #000;
color: #fff;
border: 1px solid #fff;
text-align: center;
padding: 5px 8px 3px 8px;
}

div.side blockquote [href$="/r/nintendo"]:hover::before {content: "/r/nintendo"}
div.side a[href$="/r/nintendogameclub"]:hover::before {content: "/r/nintendogameclub"}
div.side blockquote a[href$="/r/casualnintendo"]:hover::before {content: "/r/casualnintendo"}
div.side a[href$="/r/3ds"]:hover::before {content: "/r/3ds"}
div.side a[href$="/r/animalcrossing"]:hover::before {content: "/r/animalcrossing"}
div.side a[href$="/r/donkeykong"]:hover::before {content: "/r/donkeykong"}
div.side a[href$="/r/earthbound"]:hover::before {content: "/r/earthbound"}
div.side a[href$="/r/fzero"]:hover::before {content: "/r/fzero"}
div.side a[href$="/r/fireemblem"]:hover::before {content: "/r/fireemblem"}
div.side a[href$="/r/gameboy"]:hover::before {content: "/r/gameboy"}
div.side a[href$="/r/gamecube"]:hover::before {content: "/r/gamecube"}
div.side a[href$="/r/gameboyadvance"]:hover::before {content: "/r/gameboyadvance"}
div.side a[href$="/r/hanafuda"]:hover::before {content: "/r/hanafuda"}
div.side a[href$="/r/kidicarus"]:hover::before {content: "/r/kidicarus"}
div.side a[href$="/r/kirby"]:hover::before {content: "/r/kirby"}
div.side a[href$="/r/mario"]:hover::before {content: "/r/mario"}
div.side a[href$="/r/metroid"]:hover::before {content: "/r/metroid"}
div.side a[href$="/r/n64"]:hover::before {content: "/r/n64"}
div.side a[href$="/r/nes"]:hover::before {content: "/r/nes"}
div.side a[href$="/r/pikmin"]:hover::before {content: "/r/pikmin"}
div.side a[href$="/r/Xenoblade_Chronicles"]:hover::before {content: "/r/Xenoblade_Chronicles"}
div.side a[href$="/r/pokemon"]:hover::before {content: "/r/pokemon"}
div.side a[href$="/r/professorlayton"]:hover::before {content: "/r/professorlayton"}
div.side a[href$="/r/smashbros"]:hover::before {content: "/r/smashbros"}
div.side a[href$="/r/snes"]:hover::before {content: "/r/snes"}
div.side a[href$="/r/starfox"]:hover::before {content: "/r/starfox"}
div.side a[href$="/r/wii"]:hover::before {content: "/r/wii"}
div.side a[href$="/r/nds"]:hover::before {content: "/r/nds"}
div.side a[href$="/r/wiiu"]:hover::before {content: "/r/wiiu"}
div.side a[href$="/r/zelda"]:hover::before {content: "/r/zelda"}
div.side a[href$="/r/advance_wars"]:hover::before {content: "/r/advance_wars"}
div.side a[href$="/r/tomodachilife"]:hover::before {content: "/r/tomodachilife"}
div.side a[href$="/r/Club_Nintendo"]:hover::before {content: "/r/Club_Nintendo"}
div.side a[href$="/r/mariners"]:hover::before {content: "/r/mariners"}
div.side a[href$="/r/amiibo"]:hover::before {content: "/r/amiibo"}
div.side a[href$="/r/nintendomusic"]:hover::before {content: "/r/nintendomusic"}
div.side a[href$="/r/VirtualBoy"]:hover::before {content: "/r/VirtualBoy"}
div.side a[href$="/r/splatoon"]:hover::before {content: "/r/splatoon"}
div.side a[href$="/r/NintendoUK"]:hover::before {content: "/r/NintendoUK"}
div.side a[href$="/r/nintendocanada"]:hover::before {content: "/r/nintendocanada"}
div.side a[href$="/r/NintendoLatam"]:hover::before {content: "/r/nintendoLatam"}

.side blockquote{
    padding: 0;
    margin:0;
    border-left: 0;
    background-color:transparent;
    text-align: center;
    }

/*Sorry about the formatting of the Nintendo Family, blame SCSS*/
