/*Highlight tag*/
a[href$="#highlight"]{
color:#e00707;
font-weight:bold
}

/*Spoiler tag*/
a[href="#s"],
.md p > a[href="#s"] {
text-decoration: none !important;
cursor: default;
background: #000;
color: #fff !important;
display: inline-block;
}
a[href="#s"]::after,
.md p > a[href="#s"]::after {
content: attr(title);
color: #000;
padding: 0 0.5em;
visibility: visible;
}
a[href="#s"]:hover,
.md p > a[href="#s"]:hover {
color: #fff !important;
}
a[href="#s"]:hover::after,
a[href="#s"]:active::after,
.md p > a[href="#s"]:hover::after,
.md p > a[href="#s"]:active::after {
color: #fff;
}
