/*Highlight tag*/
a[href$="#highlight"]{
color:#e00707 !important;
font-weight:bold;
text-decoration: none !important;
cursor: default;
}

/*Spoiler tag
  Borrowed from /r/witcher!*/
a[href="#spoiler"],
.md p > a[href="#spoiler"],
.res-nightmode a[href$="#spoiler"],
.res-nightmode .comment .md p a[href="#spoiler"] {
  text-decoration: none !important;
  cursor: default;
  color: transparent !important;
  text-shadow: 0 0 15px $kirby-pink, 0 0 15px $kirby-pink, 0 0 15px $kirby-pink;
  display: inline-block;
  transition: .3s all;
    &:before {
    font-weight: bold;
    color: $black !important;
      content: 'Spoiler: ';
  }

    &:hover {
    color: $black !important;
    text-shadow: none;
    transition: 0.4s all;
  }
}

/* Old spoiler tag */
a[href="#s"], a[href="/s"],
.md p > a[href="#s"], .md p > a[href="/s"],
.res-nightmode a[href$="#s"], .res-nightmode a[href$="/s"],
.res-nightmode .comment .md p a[href="#s"], .res-nightmode .comment .md p a[href="/s"] {
  text-decoration: none !important;
  background-color: transparent !important;
  cursor: default;
  font-weight: bold;
  color: $black !important;
  text-shadow: 0 0 15px $kirby-pink, 0 0 15px $kirby-pink, 0 0 15px $kirby-pink;
  display: inline-block;
  transition: .3s all;

  &::after {

    background-color: transparent !important;
    content: attr(title);
    color: transparent;
    font-weight: normal;
    padding: 0 0.5em;
    visibility: visible;
    transition: .3s all;
  }

  &:hover, &:active {
    transition: 0.4s all;
      text-shadow: none !important;
    &::after {
      color: $black !important;
    }
  }
}
